html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0;
    font-size: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #040404;
    font-family: "Rubik", sans-serif;
}

.container {
    max-width: 950px;
    padding: 0 15px;
    margin: 0 auto;
}